.header {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-around;
  padding-bottom: 10px;
  border-bottom: 1px s black;
  height: 70px;
  width: 100%;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  height: 70px;
}
header .header-left nav {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.header-right {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding-left: 20px;
  border-left: 1px solid #D2D1D3;
}

.header-left nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.logo {
  width: 75px;
}
