@use "../../../assets/basestyle/base.scss";

.company-shelters-cont {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 15px;
  overflow-y: scroll;
  height: 400px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(171, 12, 238);
  }

  .company-shelters-item {
    display: flex;
    flex-direction: column;
    min-height: 399px;
    border-bottom: 1px solid white;
    max-height: 450px;
    gap: 4px;
    padding: 10px;

    .company-shelters-img {
      height: 200px;
      width: 200px;
      align-self: center;
      border-radius: 10px;
      border: 1px solid white;
    }

    // h2 {
    // }

    a {
      text-decoration: none;
      align-self: center;
      font-family: inherit;
      color: white;
    }
  }

  .add-pet-btn {
    width: 60%;
    align-self: center;
    height: 47px;
    font-size: 14px;
    font-weight: 500;
    background-color: white;
    color: base.$footer-color-1;
    &:hover {
      color: white !important;
      background-color: base.$footer-color-1 !important;
      border: 1px solid white !important;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px){
  .company-shelters-img {
    width: 90% !important;
  }
}
