// colors
    $footer-color-1: #6504B5;
    $footer-color-2: #2E0152;
    $footer-color-3: #FFFFFF;
    // ..........................
    $hover-color-1: #E49BFF;
    $hover-color-2: #1C1678;
    $hover-color-3:  #003285;
    // ..........................
    $login-color-1: #3C5A99;
    $login-color-2:  #DC3545;
    // ..........................
    $border-color-1: #D2D1D3;
    $background-color: #D2D1D3;
    // ..........................
    $user-profile-info-color-1: #919191;

// fonts
    $font-1: sans-serif;

// box-shadow
    $box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);

// Common Designs
%common-shared-1{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: $font-1;
}

//Transitions
$transitionDelay:0.6s;