// colors
    $footer-color-1: #6504B5;
    $footer-color-2: #2E0152;
    $footer-color-3: #FFFFFF;
    // ..........................
    $hover-color-1: #E49BFF;
    $hover-color-2: #1C1678;
    $hover-color-3:  #003285;
    // ..........................
    $login-color-1: #3C5A99;
    $login-color-2:  #DC3545;
    // ..........................
    $border-color-1: #D2D1D3;
    $background-color: #D2D1D3;
    // ..........................

// fonts
    $font-1: sans-serif;