@use "../../assets/basestyle/base.scss";

.fp-section {
  height: 723px;
  display: flex;
  justify-content: center;
  align-items: center;

  .fp-form {
    background-color: base.$footer-color-3;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    h1{
        margin-bottom: 70px;
        font-size: 32px;
        font-weight: 500;
    }

    input {
      width: 340px;
      height: 45px;
      font-size: 16px;
      border-radius: 5px;
      padding-left: 20px;
      border: 2px solid base.$border-color-1;
    }

    input:hover {
      border-color: base.$footer-color-1;
    }

    input:focus {
      border-color: base.$footer-color-1;
      outline: none;
    }

    button {
      width: 340px;
      height: 45px;
      background-color: base.$footer-color-1;
      color: base.$footer-color-3;
      border-radius: 30px;
      font-size: 16px;
    }

    button:hover {
      cursor: pointer;
      background-color: base.$hover-color-2;
    }
  }
}
