.signUp-Section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #efeef1;
  height: 723px;
}

.signup-section input:hover {
  border-color: #6504b5 !important;
}

.signUp-Section input:focus {
  border-color: #6504b5;
}

.signUp-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  height: 400px;
  width: 700px;
  padding: 62px 30px 40px;
  background-color: white;
}

.signUp-button {
  position: relative;
  top: 20px;
  left: 70px;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 50px;
  background-color: #6504b5;
  cursor: pointer;
}

.signUp-button:hover {
  background-color: #2e0152;
}

.signUp-h1 {
  position: relative;
  bottom: 30px;
  left: 10px;
  font-size: xx-large;
}
