.reset-password-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 723px;
    background-color: #efeef1;
}


.reset-form-container{
    height: 300px;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}
.form-errormesage{
    color: red;
}
.form-mesage{
    color: rgb(40, 195, 60);
}
.reset-password-form{
    position: relative;
    top: 100px;
}