.reset-password-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 723px;
  background-color: #efeef1;
}

.reset-form-container {
  transition: 1s;
  height: 300px;
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #6504b5;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.form-errormesage {
  transition: 1s;
  color: red;
}
.form-successmesage {
  transition: 1s;
  color: rgb(40, 195, 60);
}

.reset-password-form {
    position: relative;
    top: 50px;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.reset-password-input {
  height: 50px;
  border-radius: 20px;
  transition: 1s;
  font-weight: 700;
  text-align: center;
  font-size: large;
  border: 1px solid #b3b2b5;
}
.reset-password-input:focus {
  outline: none;
  border-color: #6504b5;
}
.reset-password-input:hover {
  border-color: solid #6504b5;
}

.reset-password-button {
  transition: 1s;
  height: 50px;
  width: 250px;
  background-color: #6504b5;
  color: white;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

.reset-password-button:hover {
  background-color: #2e0152;
}

.reset-password-h1 {
    position: relative;
    right: 50px;
  color: #6504b5;
}
