@use "../../../../assets/basestyle/base.scss";

 .ant-collapse-arrow
{
    color: white !important;
}

.filter-form-container{
    display: flex;
    position: fixed;
    z-index: 10;
    left: 20px;
    top: 500px;
    .ant-collapse-header{
        background-color:  base.$footer-color-1;
        .ant-collapse-header-text{
            color: white;
        }
    }
}

@media screen and (max-width: 570px) {
    .filter-form-container{
        top: 100px;
    }
  }